.game-screen {
  width: 800px;
  min-width: 800px;
  height: 100vh;
  border: 2px solid #333;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}

.hidden {
  display:none
}

.button-jump {
  font-family: 'Press Start 2P', cursive;
  background-color: #6b4b8b;
  border-radius: 48%;
  position: absolute;
  cursor: pointer;
  width: 105px;
  height: 100px;
  margin: 16px;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 8px 2px 1px #44334f;
}

.game-over {
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  bottom: 360px;
  right: 44%;
  z-index: 1;
  text-align: center;
}

.game-over-msg{
  margin: 12px;
  color: #dedede;
  filter: drop-shadow(0px 3px 10px rgba(80, 80, 80, 0.9));
}

.menu {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  bottom: 340px;
  right: 40%;
  z-index: 1;
}

.button-game {
  padding: 5px;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: #dedede;
  filter: drop-shadow(0px 3px 10px rgba(80, 80, 192, 0.9));
}

.button-game:hover {
  font-size: 22.5px;
}

.mountains-bg {
  z-index: -1;
  width: 800px;
  height: 610px;
  position: absolute;
}

.bg-game-black {
  opacity: 85%;
  width: 800px;
  height: 610px;
  position: absolute;
}