* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-screen {
  width: 800px;
  min-width: 500px;
  height: 100vh;
  border: 1px solid #333;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#54bde7, #e0f6ff);
}