.home {
  width: 800px;
  min-width: 800px;
  height: 600px;
  border: 2px solid #333;
  margin: 0px auto;
  position: relative;
  overflow: hidden;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  position: absolute;
  left: 10px;
  width: 135px;
  height: 30px;
  display: flex;
  align-items: center;  
}

.info, .info-link {
 font-family: 'Press Start 2P', cursive;
 font-size: 10px;
 color:#ffffff;
 filter: drop-shadow(0px 1px 5px rgba(150, 150, 150, 0.9));
}

.info img {
  width: 25px;
}

.logo {
  width: 500px;
  filter: drop-shadow(0px 5px 10px rgba(150, 150, 150, 0.9));
}

h2 {
  color:#ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  margin-bottom: 22px;
  filter: drop-shadow(0px 3px 10px rgba(150, 150, 150, 0.9));
}


.main-menu {
  font-size: 14px;
  display:flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color:#dedede;
  filter: drop-shadow(0px 3px 10px rgba(150, 150, 150, 0.9));
}

.main-menu .menu-option .menu-link {
  text-decoration: none;
  color:#dedede;
}

.main-menu .menu-option .menu-link:hover {
  font-size: 18px;
  transition: .15s;
}

.footer {
  position: absolute;
  bottom: 0;
}

.footer span {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin: 0px 6px 0px 9px;
  font-size: 8px;
  color: #797979;
}

.github-link {
  font-size: 8px;
  color: #797979;
  text-decoration: none;
  cursor: pointer;
}

.coin1, .coin2 {
  width: 12px;
}

.bg-image {
  opacity: 25%;
  width: 800px;
  height: 610px;
  position: absolute;
  z-index: -1;
}

.bg-black {
  opacity: 90%;
  width: 800px;
  height: 610px;
  position: absolute;
  z-index: -2;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #000;
  border-radius: 10px;
  position: absolute;
  left: 35%;
  bottom: 35%;
  filter: drop-shadow(0px 3px 10px rgba(150, 150, 150, 0.9));
}

.how-to-play p {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  text-align: center;
  color: #dedede;
  margin: 3px;
  
}

.how-to-play img {
  width: 200px;
  margin: 12px;
  text-align: center;
}

.how-to-play span {
  font-family: 'Press Start 2P', cursive;
  color: #f80505;
  border: 2px solid red;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  left: 90%;
  top: 5px;
}


