.home {
  width: 800px;
  min-width: 800px;
  height: 100vh;
  border: 2px solid #333;
  margin: 0px auto;
  position: relative;
  overflow: hidden;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 500px;
  -webkit-filter: drop-shadow(0px 15px 16px rgba(0, 0, 0, 0.9)); 
  filter: drop-shadow(0px 15px 16px rgba(0, 0, 0, 0.9));
}

h2 {
  color:#dedede;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 22px;
  -webkit-filter: drop-shadow(0px 15px 16px rgba(0, 0, 0, 0.9)); 
  filter: drop-shadow(0px 15px 16px rgba(0, 0, 0, 0.9));
}


.main-menu {
  display:flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color:#dedede;
  cursor: default;
  -webkit-filter: drop-shadow(0px 15px 16px rgba(0, 0, 0, 0.9)); 
  filter: drop-shadow(0px 15px 16px rgba(0, 0, 0, 0.9));
}

.main-menu span a {
  cursor: pointer;
  text-decoration: none;
  color:#dedede;
}

.main-menu span a:hover {
  font-size: 22px;
  transition: .15s;
}

.footer {
  position: absolute;
  bottom: 0;
}

.footer span {
  font-family: 'Press Start 2P', cursive;
  cursor: default;
  text-align: center;
  margin: 0px 6px 0px 9px;
  font-size: 8px;
  color: #797979;
}

.coin1, .coin2 {
  width: 12px;
  cursor: pointer;
}

.bg-image {
  opacity: 25%;
  width: 800px;
  height: 610px;
  position: absolute;
  z-index: -1;
}

.bg-black {
  opacity: 90%;
  width: 800px;
  height: 610px;
  position: absolute;
  z-index: -2;
}