@keyframes jump {
  0% {
    bottom: 130px;
  }

  40% {
    bottom: 260px;
  }

  50% {
    bottom: 270px;
  }

  60% {
    bottom: 260px;
  }

  100%{
    bottom: 130px ;
  }
}

@keyframes pipe-animation {
  from {
    right: -100px;
  }

  to {
    right: 100%
  }
}

@keyframes  ground-animation-1 {
  from {
    right: 0px;
  }

  to {
    right: 100%
  }
}

@keyframes  ground-animation-2 {
  from {
    transform: translateX(790px);
  }

}

@keyframes clouds-animation {
  from {
    right: -400px;
  }

  to {
    right: 100%;
  }
}

@keyframes move-home-animaton {
  from {
    right: -400px;
  }

  to {
    right: 100%;
  }
}