@import url('./game-screen.css');
@import url('./animation.css');
@import url('./home.css');
@import url('./');

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

.hidden {
  display:none
}

@font-face {
  font-family: mario;
  src: url(../font/SuperMario256.ttf);
}