@import url('./game-screen.css');
@import url('./animation.css');
@import url('./home.css');
@import url('./');

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

.hidden {
  display:none
}

.container {
  width: 100vw;
  height: 100vh;
  display:  flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgb(14,118,139);
  background: linear-gradient(90deg, rgba(14,118,139,1) 0%, rgba(255,255,255,1) 50%, rgba(14,118,139,1) 100%);
  z-index: -1;
  position: absolute;
}